<h1>About Raddresses</h1>
<p>
Raddresses is a simple Ruby on Rails application. Its only purpose was to play around with Ruby and Rails.</p>
<p>
The application uses :
<ul>
	<li>Ruby</li>
	<li>Rail</li>
	<li>JQuery</li>
	<li>Twitter Bootstrap</li>
</ul>
</p>