<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
  <div class="container">
  <a class="brand" href="/">Raddresses</a>
    <ul class="nav">
      <li class="<%= active_style_nav('home', yield(:page_type))%>"><%= link_to "Home", root_path %></li>
      <li class="<%= active_style_nav('about', yield(:page_type))%>"><%= link_to "About", about_path%></li>
    </ul>
    
    </div>
  </div>
</div>